.container-store {

    width: 80%;
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translateX(-50%);

    /*respiro interno*/
    padding: 55px 60px 95px;

    background-color: #e24647;


}