.container-store {

    width: 90%;
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    /*respiro interno*/
    padding: 55px 60px 165px 0;


    background-color: #e24647;

    max-width: 1330px;
    box-sizing: border-box;

}

@media (max-width: 1470px), (max-height: 952px) {
    .container-store {
        position: static;
        transform: none;
        width: 100%;
        max-width: 100%;
    }
}

/*desafio 10*/
@media (max-width: 1310px) {
    .container-store {
        padding-right: 0px;
    }
}

@media (max-height: 952px) {
    .container-store {
        max-width: 1330px;
        margin-left: auto;
        margin-right: auto;
    }

}





