.container-store {

    width: 90%;
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    /*respiro interno*/
    padding: 55px 60px 95px 0;


    background-color: #e24647;


}