.description-product {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

}

.description-product .title {
    font-size: 25px;
    padding-bottom: 100px;
    padding-top: 155px;
}








.description.-info {
    font-size: 20px;
    text-transform: uppercase;
    padding: 13px 13px 13px 0;
}

.description.-text {
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 30px;
    line-height: 35px;
    
}

.description.-more {
    font-size: 18px;    
}

.description.-more a {
    text-decoration: none;
    color: #ffffff;    
}

.description.-button {
    display: inline-block;
    padding-top: 100px;
    padding-right: 40px;       
}
