
.header-store {
    color: #ffffff;
    overflow: hidden;
    /*respiro externo*/
    /* margin: 0 115px; */
 
}

.title {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;

    
}

.navigation{
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
  
}

.action {
    text-decoration: none;    
    color: inherit; /* herdar - obriga a herdar do pai */ 
    
    margin-right: 60px;
}

.last {
    margin-right: 0;
}






