
.header-store {
    color: #ffffff;
    overflow: hidden;
    /*respiro externo*/
    /* margin: 0 115px; */
    margin-bottom: 138px;
    padding: 60px;
 
}

.header-store > .title {
    font-size: 40px;
    font-family: Arial, 'Roboto', sans-serif;
    float: left;
    text-transform: uppercase;

    cursor: pointer;

    
}

.header-store > .navigation{
    font-size: 21px;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    float: right;
  
}

.header-store input[type="search"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: Arial, 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px;
    width: 358px;
    margin-right: 65px;

}



.header-store .action {
    text-decoration: none;    
    color: inherit; /* herdar - obriga a herdar do pai */ 
    
    margin-right: 60px;
    
    
}

/*Desafio 008 - não funcionou*/
.header-store .action:hover {
    border-bottom: 1px solid #fff;
    transition: all 5s linear;
    
}

.header-store .action.-last {
    margin-right: 0;
}






