
.photo-product {
  display: inline-block;
  height: 554px;
  background-color: #fff;  
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;

  padding-left: 100px;
  position: relative;
}



.photo-product::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translateX(-100%);

}

.photo-product::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: rgb(16, 43, 167);
  height: 100%;
  width: 10%;
  z-index: -1;
  

  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.48);

}




/*Desafio 10*/

@media (max-width:1325px) {
  .photo-product{ 
    margin-right: 140px;      
  }
}

@media (max-width:1310px) {
  .photo-product{ 
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
    border-radius: 0;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width:560px) {
  .photo-product {
    height: auto;
  }
  .photo-product > .photo{ 
    width: 100%;
  }

}





